In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('DataScience_salaries_2025.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93597 entries, 0 to 93596
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           93597 non-null  int64
 1   experience_level    93597 non-null  object
 2   employment_type     93597 non-null  object
 3   job_title           93597 non-null  object
 4   salary              93597 non-null  int64
 5   salary_currency     93597 non-null  object
 6   salary_in_usd       93597 non-null  int64
 7   employee_residence  93597 non-null  object
 8   remote_ratio        93597 non-null  int64
 9   company_location    93597 non-null  object
 10  company_size        93597 non-null  object
dtypes: int64(4), object(7)
memory usage: 7.9+ MB

In [5]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025,MI,FT,Research Scientist,208000,USD,208000,US,0,US,M
1,2025,MI,FT,Research Scientist,147000,USD,147000,US,0,US,M
2,2025,SE,FT,Research Scientist,173000,USD,173000,US,0,US,M
3,2025,SE,FT,Research Scientist,117000,USD,117000,US,0,US,M
4,2025,MI,FT,AI Engineer,100000,USD,100000,US,100,US,M

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93597 entries, 0 to 93596
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           93597 non-null  int64
 1   experience_level    93597 non-null  object
 2   employment_type     93597 non-null  object
 3   job_title           93597 non-null  object
 4   salary              93597 non-null  int64
 5   salary_currency     93597 non-null  object
 6   salary_in_usd       93597 non-null  int64
 7   employee_residence  93597 non-null  object
 8   remote_ratio        93597 non-null  int64
 9   company_location    93597 non-null  object
 10  company_size        93597 non-null  object
dtypes: int64(4), object(7)
memory usage: 7.9+ MB

In [7]:
df['work_year'].unique()

array([2025, 2024, 2022, 2023, 2020, 2021])

In [8]:
df12020 = df[df['work_year'] == 2020]

In [9]:
df12020.info()

<class 'pandas.core.frame.DataFrame'>
Index: 75 entries, 86261 to 93595
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           75 non-null     int64
 1   experience_level    75 non-null     object
 2   employment_type     75 non-null     object
 3   job_title           75 non-null     object
 4   salary              75 non-null     int64
 5   salary_currency     75 non-null     object
 6   salary_in_usd       75 non-null     int64
 7   employee_residence  75 non-null     object
 8   remote_ratio        75 non-null     int64
 9   company_location    75 non-null     object
 10  company_size        75 non-null     object
dtypes: int64(4), object(7)
memory usage: 7.0+ KB

In [10]:
df12020.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
86261,2020,EN,FT,Azure Data Engineer,100000,USD,100000,MU,0,MU,S
86464,2020,EN,CT,Staff Data Analyst,60000,CAD,44753,CA,50,CA,L
88297,2020,SE,FT,Staff Data Scientist,164000,USD,164000,US,50,US,M
88774,2020,EN,FT,Data Analyst,42000,EUR,47899,DE,0,DE,L
88806,2020,EX,FT,Data Scientist,300000,USD,300000,US,100,US,L

In [11]:
df12020.duplicated().sum()

np.int64(0)

In [12]:
df_DS = df[df['job_title'] == 'Data Scientist']

In [13]:
df_DS.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13848 entries, 14 to 93596
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           13848 non-null  int64
 1   experience_level    13848 non-null  object
 2   employment_type     13848 non-null  object
 3   job_title           13848 non-null  object
 4   salary              13848 non-null  int64
 5   salary_currency     13848 non-null  object
 6   salary_in_usd       13848 non-null  int64
 7   employee_residence  13848 non-null  object
 8   remote_ratio        13848 non-null  int64
 9   company_location    13848 non-null  object
 10  company_size        13848 non-null  object
dtypes: int64(4), object(7)
memory usage: 1.3+ MB

In [15]:
df_DS['salary_in_usd'].describe().round(2)

count     13848.00
mean     156931.45
std       64238.59
min       15281.00
25%      110000.00
50%      150000.00
75%      192000.00
max      750000.00
Name: salary_in_usd, dtype: float64

In [26]:
df_DS_2020 = df_DS[df_DS['work_year'] == 2020]
df_DS_2020.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 88806 to 93594
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           25 non-null     int64
 1   experience_level    25 non-null     object
 2   employment_type     25 non-null     object
 3   job_title           25 non-null     object
 4   salary              25 non-null     int64
 5   salary_currency     25 non-null     object
 6   salary_in_usd       25 non-null     int64
 7   employee_residence  25 non-null     object
 8   remote_ratio        25 non-null     int64
 9   company_location    25 non-null     object
 10  company_size        25 non-null     object
dtypes: int64(4), object(7)
memory usage: 2.3+ KB

In [28]:
df_DS.groupby('work_year')['salary_in_usd'].describe().round(2)

,count,mean,std,min,25%,50%,75%,max
work_year,,,,,,,,
2020,25.0,108943.24,98645.49,21669.0,45760.0,76958.0,118000.0,412000.0
2021,61.0,94720.70,50681.17,16904.0,54094.0,88654.0,130000.0,250000.0
2022,450.0,139644.64,55112.61,17684.0,104075.0,141525.0,180000.0,350000.0
2023,1925.0,163855.09,62943.66,16000.0,125000.0,160000.0,200000.0,750000.0
2024,8932.0,158540.63,64552.39,16666.0,110000.0,151210.0,196900.0,750000.0
2025,2455.0,150850.98,63569.92,15281.0,110000.0,145000.0,180000.0,720000.0

In [31]:
# Contar el numero de Data science por ano
df_DS['work_year'].value_counts()

work_year
2024    8932
2025    2455
2023    1925
2022     450
2021      61
2020      25
Name: count, dtype: int64

In [32]:
df_DS_2020.groupby('employee_residence')['salary_in_usd'].describe().round(2)

,count,mean,std,min,25%,50%,75%,max
employee_residence,,,,,,,,
AT,1.0,91237.00,NaN,91237.0,91237.00,91237.0,91237.00,91237.0
DE,3.0,63942.33,15318.76,49268.0,55997.00,62726.0,71279.50,79833.0
ES,1.0,38776.00,NaN,38776.0,38776.00,38776.0,38776.00,38776.0
FR,4.0,49040.00,10369.56,39916.0,41626.75,46759.0,54172.25,62726.0
GB,1.0,76958.00,NaN,76958.0,76958.00,76958.0,76958.00,76958.0
GR,1.0,68428.00,NaN,68428.0,68428.00,68428.0,68428.00,68428.0
HU,1.0,35735.00,NaN,35735.0,35735.00,35735.0,35735.00,35735.0
IN,1.0,40481.00,NaN,40481.0,40481.00,40481.0,40481.00,40481.0
IT,1.0,21669.00,NaN,21669.0,21669.00,21669.0,21669.00,21669.0
PH,1.0,45760.00,NaN,45760.0,45760.00,45760.0,45760.00,45760.0
US,10.0,191655.00,112720.09,103000.0,108250.00,129175.0,272550.00,412000.0

In [34]:
df_DS.groupby('employee_residence')['salary_in_usd'].describe().round(2)

,count,mean,std,min,25%,50%,75%,max
employee_residence,,,,,,,,
AD,1.0,50745.00,NaN,50745.0,50745.00,50745.0,50745.00,50745.0
AR,5.0,42000.00,12549.90,30000.0,30000.00,45000.0,45000.00,60000.0
AT,31.0,52601.48,20373.36,29706.0,34362.00,46842.0,59418.00,100000.0
AU,29.0,110777.90,38004.75,52000.0,88995.00,108557.0,116259.00,242000.0
BE,4.0,66790.75,13160.41,52008.0,62165.25,65551.0,70176.50,84053.0
BR,11.0,73720.91,69170.93,19910.0,34000.00,34000.0,92000.00,252900.0
CA,393.0,142849.97,57458.39,36000.0,98500.00,135800.0,179084.00,350211.0
CH,6.0,152256.67,84237.60,104024.0,115327.50,121520.0,127818.25,323295.0
CL,3.0,69346.00,65147.67,24000.0,32019.00,40038.0,92019.00,144000.0
CY,1.0,63701.00,NaN,63701.0,63701.00,63701.0,63701.00,63701.0
DE,52.0,91396.81,46870.15,16666.0,62570.75,76833.0,96600.00,220000.0
DO,1.0,110000.00,NaN,110000.0,110000.00,110000.0,110000.00,110000.0
DZ,1.0,100000.00,NaN,100000.0,100000.00,100000.0,100000.00,100000.0
EC,1.0,16000.00,NaN,16000.0,16000.00,16000.0,16000.00,16000.0
EE,2.0,40000.00,0.00,40000.0,40000.00,40000.0,40000.00,40000.0
EG,22.0,140690.91,58867.04,73100.0,93300.00,131300.0,202000.00,220000.0
ES,71.0,47656.48,15157.50,27317.0,38868.00,46809.0,48585.00,106666.0
FI,8.0,43611.00,7873.45,40000.0,40000.00,40000.0,41666.50,62222.0
FR,43.0,103787.07,76642.65,28206.0,52582.00,66666.0,119700.00,338526.0
GB,357.0,87032.42,53272.97,27885.0,55368.00,75949.0,110736.00,718750.0
GR,3.0,42683.67,24592.08,19434.0,29811.50,40189.0,54308.50,68428.0
HK,1.0,65058.00,NaN,65058.0,65058.00,65058.0,65058.00,65058.0
HU,4.0,23935.75,8187.34,17684.0,18849.50,21162.0,26248.25,35735.0
IE,15.0,96479.27,28017.16,53894.0,82593.00,97171.0,109506.50,171250.0
IN,24.0,38523.75,17178.89,16904.0,29937.75,32801.5,48514.25,94665.0
IT,12.0,111401.08,70392.92,21669.0,63178.00,98000.0,172000.00,210100.0
JP,4.0,101325.00,60997.45,40000.0,55225.00,98650.0,144750.00,168000.0
KE,1.0,50000.00,NaN,50000.0,50000.00,50000.0,50000.00,50000.0
KR,4.0,96042.00,8025.24,87509.0,90475.25,95732.0,101298.75,105195.0
LT,34.0,63908.85,20146.81,33347.0,47504.75,64666.5,66666.00,116666.0
LV,10.0,61688.50,21094.98,38868.0,42266.50,61001.5,79831.25,85600.0
MX,7.0,163457.14,231593.95,25000.0,56700.00,85800.0,120000.00,680000.0
NG,1.0,50000.00,NaN,50000.0,50000.00,50000.0,50000.00,50000.0
NL,42.0,70678.64,24202.30,32390.0,54253.00,66464.0,82913.50,135733.0
NO,2.0,88462.00,16905.51,76508.0,82485.00,88462.0,94439.00,100416.0
NZ,8.0,133012.62,36784.11,89000.0,112550.75,129616.5,146097.75,205670.0
PH,2.0,76864.00,43987.70,45760.0,61312.00,76864.0,92416.00,107968.0
PK,1.0,21000.00,NaN,21000.0,21000.00,21000.0,21000.00,21000.0
PL,5.0,71432.80,27850.94,33609.0,55555.00,72000.0,96000.00,100000.0
PT,4.0,88888.25,21754.37,66666.0,74999.25,86110.5,99999.50,116666.0
RO,2.0,39992.00,19787.68,26000.0,32996.00,39992.0,46988.00,53984.0
RS,1.0,25532.00,NaN,25532.0,25532.00,25532.0,25532.00,25532.0
RU,2.0,66500.00,26162.95,48000.0,57250.00,66500.0,75750.00,85000.0
SG,3.0,132686.33,11801.62,119059.0,129279.50,139500.0,139500.00,139500.0
SK,10.0,34266.20,11262.34,26666.0,26666.00,26666.0,40999.75,60000.0
TH,2.0,26957.00,3314.92,24613.0,25785.00,26957.0,28129.00,29301.0
TR,3.0,26698.33,7521.70,20171.0,22585.50,25000.0,29962.00,34924.0
TW,2.0,17282.50,2830.55,15281.0,16281.75,17282.5,18283.25,19284.0
UA,2.0,85000.00,35355.34,60000.0,72500.00,85000.0,97500.00,110000.0
US,12589.0,162578.32,61611.22,22300.0,117000.00,157000.0,197400.00,750000.0
UZ,2.0,73000.00,46669.05,40000.0,56500.00,73000.0,89500.00,106000.0
ZA,4.0,44871.75,7133.38,39245.0,41654.00,42457.0,45674.75,55328.0

In [35]:
df_DS_US_rest = df_DS.groupby('employee_residence')['salary_in_usd'].describe().round(2)

In [36]:
# Agregar una nueva columna con las diferencias entre el salario promedio de cada pais y el promedio mundial
df_DS_US_rest['mean_diff'] = df_DS_US_rest['mean'] - df_DS_US_rest['mean'].mean()

In [37]:
df_DS_US_rest

,count,mean,std,min,25%,50%,75%,max,mean_diff
employee_residence,,,,,,,,,
AD,1.0,50745.00,NaN,50745.0,50745.00,50745.0,50745.00,50745.0,-23392.886923
AR,5.0,42000.00,12549.90,30000.0,30000.00,45000.0,45000.00,60000.0,-32137.886923
AT,31.0,52601.48,20373.36,29706.0,34362.00,46842.0,59418.00,100000.0,-21536.406923
AU,29.0,110777.90,38004.75,52000.0,88995.00,108557.0,116259.00,242000.0,36640.013077
BE,4.0,66790.75,13160.41,52008.0,62165.25,65551.0,70176.50,84053.0,-7347.136923
BR,11.0,73720.91,69170.93,19910.0,34000.00,34000.0,92000.00,252900.0,-416.976923
CA,393.0,142849.97,57458.39,36000.0,98500.00,135800.0,179084.00,350211.0,68712.083077
CH,6.0,152256.67,84237.60,104024.0,115327.50,121520.0,127818.25,323295.0,78118.783077
CL,3.0,69346.00,65147.67,24000.0,32019.00,40038.0,92019.00,144000.0,-4791.886923
CY,1.0,63701.00,NaN,63701.0,63701.00,63701.0,63701.00,63701.0,-10436.886923
DE,52.0,91396.81,46870.15,16666.0,62570.75,76833.0,96600.00,220000.0,17258.923077
DO,1.0,110000.00,NaN,110000.0,110000.00,110000.0,110000.00,110000.0,35862.113077
DZ,1.0,100000.00,NaN,100000.0,100000.00,100000.0,100000.00,100000.0,25862.113077
EC,1.0,16000.00,NaN,16000.0,16000.00,16000.0,16000.00,16000.0,-58137.886923
EE,2.0,40000.00,0.00,40000.0,40000.00,40000.0,40000.00,40000.0,-34137.886923
EG,22.0,140690.91,58867.04,73100.0,93300.00,131300.0,202000.00,220000.0,66553.023077
ES,71.0,47656.48,15157.50,27317.0,38868.00,46809.0,48585.00,106666.0,-26481.406923
FI,8.0,43611.00,7873.45,40000.0,40000.00,40000.0,41666.50,62222.0,-30526.886923
FR,43.0,103787.07,76642.65,28206.0,52582.00,66666.0,119700.00,338526.0,29649.183077
GB,357.0,87032.42,53272.97,27885.0,55368.00,75949.0,110736.00,718750.0,12894.533077
GR,3.0,42683.67,24592.08,19434.0,29811.50,40189.0,54308.50,68428.0,-31454.216923
HK,1.0,65058.00,NaN,65058.0,65058.00,65058.0,65058.00,65058.0,-9079.886923
HU,4.0,23935.75,8187.34,17684.0,18849.50,21162.0,26248.25,35735.0,-50202.136923
IE,15.0,96479.27,28017.16,53894.0,82593.00,97171.0,109506.50,171250.0,22341.383077
IN,24.0,38523.75,17178.89,16904.0,29937.75,32801.5,48514.25,94665.0,-35614.136923
IT,12.0,111401.08,70392.92,21669.0,63178.00,98000.0,172000.00,210100.0,37263.193077
JP,4.0,101325.00,60997.45,40000.0,55225.00,98650.0,144750.00,168000.0,27187.113077
KE,1.0,50000.00,NaN,50000.0,50000.00,50000.0,50000.00,50000.0,-24137.886923
KR,4.0,96042.00,8025.24,87509.0,90475.25,95732.0,101298.75,105195.0,21904.113077
LT,34.0,63908.85,20146.81,33347.0,47504.75,64666.5,66666.00,116666.0,-10229.036923
LV,10.0,61688.50,21094.98,38868.0,42266.50,61001.5,79831.25,85600.0,-12449.386923
MX,7.0,163457.14,231593.95,25000.0,56700.00,85800.0,120000.00,680000.0,89319.253077
NG,1.0,50000.00,NaN,50000.0,50000.00,50000.0,50000.00,50000.0,-24137.886923
NL,42.0,70678.64,24202.30,32390.0,54253.00,66464.0,82913.50,135733.0,-3459.246923
NO,2.0,88462.00,16905.51,76508.0,82485.00,88462.0,94439.00,100416.0,14324.113077
NZ,8.0,133012.62,36784.11,89000.0,112550.75,129616.5,146097.75,205670.0,58874.733077
PH,2.0,76864.00,43987.70,45760.0,61312.00,76864.0,92416.00,107968.0,2726.113077
PK,1.0,21000.00,NaN,21000.0,21000.00,21000.0,21000.00,21000.0,-53137.886923
PL,5.0,71432.80,27850.94,33609.0,55555.00,72000.0,96000.00,100000.0,-2705.086923
PT,4.0,88888.25,21754.37,66666.0,74999.25,86110.5,99999.50,116666.0,14750.363077
RO,2.0,39992.00,19787.68,26000.0,32996.00,39992.0,46988.00,53984.0,-34145.886923
RS,1.0,25532.00,NaN,25532.0,25532.00,25532.0,25532.00,25532.0,-48605.886923
RU,2.0,66500.00,26162.95,48000.0,57250.00,66500.0,75750.00,85000.0,-7637.886923
SG,3.0,132686.33,11801.62,119059.0,129279.50,139500.0,139500.00,139500.0,58548.443077
SK,10.0,34266.20,11262.34,26666.0,26666.00,26666.0,40999.75,60000.0,-39871.686923
TH,2.0,26957.00,3314.92,24613.0,25785.00,26957.0,28129.00,29301.0,-47180.886923
TR,3.0,26698.33,7521.70,20171.0,22585.50,25000.0,29962.00,34924.0,-47439.556923
TW,2.0,17282.50,2830.55,15281.0,16281.75,17282.5,18283.25,19284.0,-56855.386923
UA,2.0,85000.00,35355.34,60000.0,72500.00,85000.0,97500.00,110000.0,10862.113077
US,12589.0,162578.32,61611.22,22300.0,117000.00,157000.0,197400.00,750000.0,88440.433077
UZ,2.0,73000.00,46669.05,40000.0,56500.00,73000.0,89500.00,106000.0,-1137.886923
ZA,4.0,44871.75,7133.38,39245.0,41654.00,42457.0,45674.75,55328.0,-29266.136923